body {
    background-color: #f7f7f7;
    margin:0px;
    font-family: 'Georgia', sans-serif;
    font-size: 18px;
    line-height:1.7;
    min-height:100vh;
    padding:0;
}
html {
    height: 100vh;
    padding:0;
}

.org {
    display:flex;
    flex-direction: row;
    min-height:100vh;
}

.blog-visual {
    max-height: 100vh;
    max-width: 100%;
    object-fit:contain;
}

.blog-visual:active {
    max-height:100%;
}



h1 {
    font-size: 36px;
    line-height:1.2;
    margin: 0px 0px 30px 0px;
    letter-spacing:-1px;
    font-weight:400;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight:500;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    margin:0px 0px 30px 0px;
}

.post-title {
    display:block;
    margin:39px 0px 0px 0px;
    font-size:45px;
    letter-spacing:-1px;
    font-weight:400;
    font-family: 'Montserrat', sans-serif;
    overflow:visible;
}

.topmatter {
    display:flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    border-width:1px;
}

#cornerMap {
    width:100px; 
    height:100px;
}

.mapSmall {
    height:50px !important;
}
.cornerimg {
    width:200px;
}

.top-name{
    display:block;
    color: #616365;
    text-decoration: none;
    margin: 14px 0px;
    font-size: 60px;
    line-height:1.2;
    letter-spacing:-1px;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    overflow:hidden;
}
.top-name:hover{
    color:black;
}
.side-name {
    height:40px;
    display:none;
    color: #939599;
    text-decoration: none;
    margin:0px;
    padding:10px 10px 0px 13px;
    font-size: 23px;
    line-height:1.2;
    letter-spacing:-1px;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
}
.side-name-mini {
    height:40px;
    display:block;
    color: #5e5e5e;
    text-decoration: none;
    margin:0px;
    padding:10px 10px 0px 13px;
    font-size: 23px;
    line-height:1.2;
    letter-spacing:-1px;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
}

.root-page {
    margin:0px;
    padding:24px 40px 0px 0px;
    height:100%;
}

.post-bg {
    margin:-12px 0px 0px 1px;
    width:100%;
    min-height:100%;
    background-color:#f7f7f7;
}

.content-spacing {
    margin:0px auto auto 0px;
    padding:0px 20px 40px 40px;
    min-height:100vh;

    max-width:1000px;
    width:calc(100% - 100px);
}

.post-size {
    margin:0px 0px 32px 0px;
    max-width:820px;
    width:100%;
}
.post-size p {
    font-size:18px;
    margin-bottom:25px;
    line-height:1.7;
    font-family: 'Georgia', 'serif';
}

.post-content {
    margin:20px 0px 0px 0px;
}

article pre {
    overflow:auto;
    border-radius:4px;
    padding:25px 15px;
    background-color: #e7e7e7;
}

.backButton {
    text-decoration: none;
    color:#5e5e5e;
    font-size:18px;
    font-family: 'Montserrat','Sans-serif';
}

.index-content {
    margin-left:12px;
}

.about-content {
    display:block;
}


.card-grid {
    display:grid;
    grid-template-columns: auto auto;
    gap:24px; 
}

.recent-grid {
    display:grid;
    grid-template-columns: auto auto;
    gap:10px;
}

.post-buffer {
    position:absolute;
}

.post-card {
    /*appearance and relative position*/
    margin:auto;
    height: 302px;
    width: 296px;
    position:relative;
    /* border */
    border-style:solid;
    border-width:1px;
    border-color:#F2F2F2;
    /* inner contents */
    display:flex;
    flex-direction: column;
    background-color: #fff;
    filter:drop-shadow(0px 1px 1px #939599);
}

.post-card:hover {
    color:blue
}

.card-link {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    
    z-index: 1;
}

.card-img {
    width:100%;
    height: 37%;
    
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    border-style:none none solid none;
    border-width:1px;
    border-color:#F2F2F2;
}
.card-img img {
    width:100%;
    height:100%;
    object-fit:cover;

}

.card-inner {
    height: 63%;
    padding:12px 16px;
    border-radius: 0px 0px 8px 8px;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size:17px;
    line-height:24px;
    font-weight:600;
    margin: 0px;
}

.card-description {
    font-size:14px;
    margin:0px;

    overflow:hidden;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}

.card-category {
    font-size:13px;
    margin: 0px 0px 2px 0px;
    color:#5e5e5e;
    text-decoration:underline;
}

.side-nav {
    position:sticky;
    top:0px;
}

#sidebar {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    width:100px;
    background-color: #e7e7e7;
    border-width:1px;
}
.content-pane {
    position:absolute;
    left:100px;
    top:0;
    width:calc(100% - 105px);
    min-height:100%;
}

.nav-img {
    display:none;
    width:75px;
    height:44px;
}

.nav-img img {
height:100%;
margin:0px;
}

.nav {
    margin: 12px auto auto auto;
    padding: 0;
}

#navlist {
    list-style-type: none;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0px;
    margin:0px;
    font-family: 'Montserrat','sans-serif';
    font-size:23px;
}

#navlist li {
    height:44px;
    width:75px;
    border-radius:8px;
    margin: 12px 0px 12px 12.5px;
    display:flex;
    flex-direction: row;

    color: #5e5e5e;
    text-align: center;
    text-decoration: none;
    border-radius:8px;
}

#navlist li span {
    margin:0px 0px 0px 0px;
}

#navlist li:hover {
    color:black;
    text-decoration: underline;
}

.activeNav {
    color:black !important; 
    text-decoration:underline !important;
}

.socials {
    margin: 30px 0px;
    padding: 0;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    max-width:590px;
    justify-content: center;
}

.socials div {
    margin:0px 20px 0px 20px;
}

.social {
    fill:#5e5e5e;
}

.social:hover{
    fill:black;
}


.caption {
    color:#939599;
    font-size:16px;
}

  /* Small devices (portrait tablets and large phones, 600px and down) */
  @media only screen and (max-width: 590px) {


  }
  
  /* Medium devices (landscape tablets, 600px and up) */
  @media only screen and (min-width: 590px) {
    .root-page{width:534px;}

    .post-card {width:255px; height:263px;}

    
    
  } 

  @media only screen and (max-width:670px) {
    #sidebar {
        display:none;
    }
    .content-pane {
        position:absolute;
        left:0;
        right:0;
        width:100vw;
    }
    #cornerMap {
        display:none;
    }
    .top-name {
        display:block;
        width:100%;
        font-size:10vw;
        margin: 25px auto 25px auto;
    }
    .content-spacing {
        padding:20px 20px 40px 20px;
    }

    .post-card {width:240px; height:268px; flex:none}
    .card-grid {grid-template-columns: auto;width:240px;}
    .recent-grid {grid-template-columns: auto;}

    .navlist {flex-direction: column;}
  }
  
  /* Large devices (laptops/desktops, 843px and up) */
  @media only screen and (min-width: 1000px) {
    .root-page{width:746px;}
    .about-content{    display:flex;
        flex-direction: row;}
    .about-text {
        margin: 0px 0px 0px 24px;
    }
    .post-card {width:232px; height:286px;}
    .card-grid {grid-template-columns: auto auto auto;}
    .recent-grid {
        grid-template-columns: auto auto;
        gap:200px;
    }
    .content-pane {
        position:absolute;
        left:200px;
        width:calc(100% - 205px);
    }
    #sidebar {width:200px;}
    .nav-img {
        display:block
    }
    .side-name {
        display:block
    }
    .side-name-mini{
        display:none
    }
    #navlist li {
        width:150px;
        margin: 12px 0px 12px 25px;
    }
    #navlist li:hover {
        text-decoration: underline;
    }
    .activeNav {
        text-decoration:underline !important;
    }
    #cornerMap {
        width:200px;
    }
    .top-name {
        margin:4px 0px 4px 0px;
        font-size: 75px;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1100px and up) */
  @media only screen and (min-width: 1224px) {
    .root-page {width:960px;}

    .card-inner {height:30%;}
    .card-img {height:60%}
    .post-card {width:304px; height:302px;}

    .card-description {
        -webkit-box-orient:vertical;
        -webkit-line-clamp:1;
    }
  }