<div class="post-card">
    <div class="card-img">
        <img src="/images/{{post.data.image}}" alt="Click to read"/>
    </div>
    <div class="card-inner">
        <p class="card-title">{{post.data.title}}</p>
        <p class="card-description">{{post.data.description}}</p>
        <p class="card-category"># {{post.data.category}}</p>
    </div>
    <a href="{{post.url}}"><span class="card-link"></span></a>
</div>