---
layout: base.njk
---
<div class="post-spacing">

<div class="post-size">

<header>
    <h1>{{ title }}</h1>
</header>

<main>


        <article>{{ content | safe }}</article>
</main>

</div>

<div class="nav">
<li><a href="/blog">back</a></li>
</div>
</div>