---
layout: base.njk
---

<!-- cool header image with logo / title here -->
<div>
<img src="/images/george-owen-komika.png" class="logo-image"/>
</div>
{% include "navbar.njk" %}


<header>
    <h1>{{ title }}</h1>
</header>

{{ content | safe }}