---
layout: base.njk
---
<div class="page-spacing">
<!-- cool header image with logo / title here -->
<div>
<a href="/"><img src="/images/george-owen-komika.png" class="logo-image"/></a>
</div>
{% include "navbar.njk" %}


<header>
    <h1>{{ title }}</h1>
</header>

{{ content | safe }}


{% include "socials.njk" %}

</div>