---
layout: base.njk
---
<!-- root pages have expanded vertical nav -->
<div class="org">

    {% include "navbar.njk" %}

    <div class="page-spacing">
        <header>
            <h1>{{ title }}</h1>
        </header>

        {{ content | safe }}

        {% include "socials.njk" %}

    </div>
</div>