<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>

<!-- Load Esri Leaflet from CDN -->
<div id="cornerMap"></div>
<script src="https://unpkg.com/esri-leaflet@^3.0.8/dist/esri-leaflet.js"></script>
<script src="https://unpkg.com/esri-leaflet-vector@4.0.0/dist/esri-leaflet-vector.js"></script>
<script>

    //34.04523, -118.25701
    const lat = (Math.random() *0.04) + 34.04523
    const long = (Math.random() *0.04) + -118.25701

    var map = new L.Map("cornerMap", {
        center: new L.LatLng(lat, long),
        zoom:13,
        minZoom:13,
        maxZoom:13,
        zoomControl:false,
        dragging:false,
        doubleClickZoom:false
    });

    const apiKey = "AAPK4bcb23df38f348258205214f35ff7fd3DlCWuDcMvn7vEz4lrQM0U6uXU8RrOpHkWwNWC_4uaK_zh8GDHbfGo4h47UT2I0-U";

    const itemID = "f04f33b9626240f084cb52f0b08758ef";
    L.esri.Vector.vectorBasemapLayer(itemID, {
        apiKey: apiKey
    }).addTo(map);

    document.getElementsByClassName( 'leaflet-control-attribution' )[0].style.display = 'none';
</script>