{%extends "components/nav.njk" %}
{% block topmatter %}
<div id="cornerMap" class="mapSmall" onclick="location.href='/blog'"></div>
{% include "components/corner-map.njk" %}
<div onclick="location.href='/blog'" class="side-name">GEORGE OWEN</div>
<div onclick="location.href='/blog'" class="side-name-mini">OWEN</div>
{%endblock%}