
<div id="sidebar">
{% block topmatter %}
<div id="cornerMap"></div>
{% include "components/corner-map.njk" %}
{%endblock%}

{% block nav %}
<div id="scroller-anchor"></div> 

<div class="nav"> 
<ul id="navlist">
    <li onclick="location.href='/';" style="cursor: pointer;" class="navItem" id="nav-0">
        <div class="nav-img" id="nav-art-0"><img src="/images/nav-off.png" alt=""/></div>
        <span>home</span>
    </li>
    <li onclick="location.href='/about';" style="cursor: pointer;" class="navItem" id="nav-1">
        <div class="nav-img" id="nav-art-1"><img src="/images/nav-off.png" alt=""/></div>
        <span>about</span>
    </li>
    <li onclick="location.href='/blog';" style="cursor: pointer;" class="navItem" id="nav-2">
        <div class="nav-img" id="nav-art-2"><img src="/images/nav-off.png" alt=""/></div>
        <span>blog</span>
    </li>
</ul>
</div>
  <script>
    const urls = [
    "8080/$", //TODO change this to live domain extension!
    "/about",
    "/blog*"
    ]

    const navImg_ON = `<img src="/images/nav-on.png" alt=""/>`
    const navImg_OFF = `<img src="/images/nav-off.png" alt=""/>`
    const navImg_ON_H = `<img src="/images/nav-on-h.png" alt=""/>`
    const navImg_OFF_H = `<img src="/images/nav-off-h.png" alt=""/>`

    const navItems = document.getElementsByClassName("navItem");

    const thisUrl = String(window.location);
    for (let i=0;i<navItems.length;i++) {
        const navImg = document.getElementById("nav-art-"+i);
        const navItem = document.getElementById("nav-"+i);
        if (thisUrl.match(urls[i])) {
            //add img to current active
            navImg.innerHTML= navImg_ON;       
        }
        else {
            
            navItem.addEventListener("mouseover",()=>{
                navImg.innerHTML = navImg_OFF_H;
            });
            navItem.addEventListener("mouseout",()=>{
                navImg.innerHTML = navImg_OFF;
            });
        }
    }
    //let activePage = document.getElementByID("activeNav");



  </script>
{% endblock %}


{% block socials %}{% endblock %}

</div>