<div class="post-card">
    <div class="post-card-img">
        <img src="/images/{{post.data.image}}" alt="Click to read"/>
        <a href="{{post.url}}"><span class="card-link"></span></a>
    </div>
    <div class="card-text">
        <div class="card-title">
            {{post.data.title}}
            <a href="{{post.url}}"><span class="card-link"></span></a>
        </div>
        <div class="card-tag-container">
            <div class="card-tags">
                {% for tag in post.data.tags %}
                {%if tag != 'posts'%}
                    <a href="/blog/tags/{{tag}}">#{{tag}}</a>
                {%endif%}
                {%endfor%}
            </div>  
        </div>
    </div>
</div>