<div id="sidebar">
{% include "components/map.njk" %}
{% block topmatter %}
{%endblock%}

{% block nav %}
{%include "components/nav.njk"%}
{% endblock %}


{% block socials %}
{% endblock %}

</div>