<div id="sidebar">

{% block topmatter %}
<div id="cornerMap"></div>
{% include "components/corner-map.njk" %}
{%endblock%}

{% block nav %}
{%include "components/nav.njk"%}
{% endblock %}


{% block socials %}
{% endblock %}

</div>