{%extends "components/sidebar.njk" %}
{% block topmatter %}
{% include "components/corner-map.njk" %}
<div onclick="location.href='/blog'" class="side-name">GEORGE OWEN</div>
<div onclick="location.href='/blog'" class="side-name-mini">OWEN</div>
{%endblock%}