{%extends "components/sidebar.njk" %}
{% from 'name.njk' import myName %}
{% set nameClass %}
    {%if myName == 'George'%}
        name-george
    {%else%}
        name-gwen
    {%endif%}
{%endset%}
{% block topmatter %}
<div onclick="location.href='/blog'" class="side-name name-full {{nameClass}}">GWEN</div>
<div onclick="location.href='/blog'" class="side-name name-mini">GWEN</div>
{%endblock%}