body {
    background-color: #f7f7f7;
    margin:0px;
    font-family: 'Georgia', sans-serif;
    font-size: 18px;
    line-height:1.7;
    min-height:100vh;
    padding:0;
}
html {
    height: 100vh;
    padding:0;
}

.org {
    display:flex;
    flex-direction: row;
    min-height:100vh;
}

.topmatter {
    display:flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    border-width:1px;
}

.top-name{
    display:block;
    color: #616365;
    text-decoration: none;
    margin: 0px;
    font-size: 60px;
    line-height:1.2;
    letter-spacing:-1px;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    overflow:hidden;
}
.top-name:hover{
    color:black;
}
h1 {
    font-size: 36px;
    line-height:1.2;
    margin: 0px 0px 30px 0px;
    letter-spacing:-1px;
    font-weight:400;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight:500;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    margin:0px 0px 30px 0px;
}

.content-pane {
    position:absolute;
    left:100px;
    top:0;
    width:calc(100% - 105px);
    min-height:100%;
    height:100%;
}

/* used in root page layout */
.content-spacing {
    margin:0;
    padding:14px 0px 0px 40px;
    min-height:calc(100% - 14px);
    max-width:1000px;
    width:calc(100% - 100px);
    position:relative;

    display:flex;
    flex-direction: column;
}

.root-page {
    margin:0px;
    padding-top:24px;
}
.root-footer {
    margin-top:auto;
    padding-bottom: 10px; 
}



.blog-visual {
    max-height: 100vh;
    max-width: 400px;
    object-fit:contain;
}

/* post css */
.post-title {
    display:block;
    margin:39px 0px 0px 0px;
    font-size:45px;
    letter-spacing:-1px;
    font-weight:400;
    font-family: 'Montserrat', sans-serif;
    overflow:visible;
}

.post-bg {
    margin:-12px 0px 0px 1px;
    width:100%;
    min-height:100%;
    background-color:#f7f7f7;
}

.post-size {
    margin:0px 0px 32px 0px;
    max-width:820px;
    width:100%;
}
.post-size p {
    font-size:18px;
    margin-bottom:25px;
    line-height:1.7;
    font-family: 'Georgia', 'serif';
}

.post-content {
    margin:20px 0px 0px 0px;
}

article pre {
    overflow:auto;
    border-radius:4px;
    padding:25px 15px;
    background-color: #e7e7e7;
}

.backButton {
    text-decoration: none;
    color:#5e5e5e;
    font-size:18px;
    font-family: 'Montserrat','Sans-serif';
}

.recent-grid {
    display:grid;
    grid-template-columns: auto auto;
    gap:10px;
}

.post-buffer {
    position:absolute;
}
/* socials */
.socials {
    margin: 0px auto 0px 0px;
    padding: 0;
    overflow: hidden;
    display:flex;
    flex-direction: row;

}

.socials div {
    margin:0px 10px 0px 10px;
}

.social {
    fill:#5e5e5e;
}

.social:hover{
    fill:black;
}


.caption {
    color:#939599;
    font-size:16px;
}
 
/* Medium devices (landscape tablets, 600px and up) */
@media only screen and (min-width: 590px) {
.root-page{width:534px;}

} 

@media only screen and (max-width:670px) {

.content-pane {
    position:absolute;
    left:0;
    right:0;
    width:100vw;
}

.top-name {
    display:block;
    width:100%;
    font-size:10vw;
    margin: 25px auto 25px auto;
}
.content-spacing {
    padding:20px 20px 40px 20px;
}

.recent-grid {grid-template-columns: auto;}

}

/* Large devices (laptops/desktops, 843px and up) */
@media only screen and (min-width: 1000px) {
.root-page{width:746px;}
.about-text {
    margin: 0px 0px 0px 24px;
}



.recent-grid {
    grid-template-columns: auto auto;
    gap:200px;
}
.content-pane {
    position:absolute;
    left:200px;
    width:calc(100% - 205px);
}
.top-name {
    margin:4px 0px 4px 0px;
    font-size: 75px;
}
} 

/* Extra large devices (large laptops and desktops, 1100px and up) */
@media only screen and (min-width: 1224px) {
.root-page {width:960px;}

}