{%extends "base.njk"%}
{%from 'name.njk' import myName%}
{%block content %}
<div class="content-spacing">
    <a href="/" class="top-name">GWEN</a>
    
    <div class="root-page">
        {{ content | safe }}

    </div>
    <div class="root-footer">
    {% include "components/socials.njk" %}
    </div>
</div>

{%endblock%}