{%extends "layouts/base.njk" %}
{%block sidebar %}
{%include "components/sidebar-leaf.njk"%}
{%endblock%}
{%block content%}
<div class="post-bg">
<div class="content-spacing">
    <div class="post-size">

    <header class="post-title">
        {{ title }}
    </header>
    {{date}}

    <main class="post-content">
            <article>{{ content | safe }}</article>
    </main>

    </div>

    <a href="/" class="backButton"><- back</a>

</div>
</div>
{%endblock%}