{%extends "layouts/nav.njk" %}
{% block topmatter %}
<div id="cornerMap" class="mapSmall"></div>
{% include "layouts/corner-map.njk" %}
<div onclick="location.href='/'" class="side-name">GEORGE OWEN</div>
<div onclick="location.href='/'" class="side-name-mini">OWEN</div>
{%endblock%}