
<div id="sidebar">
{% block topmatter %}

<div id="cornerMap"></div>
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>

<!-- Load Esri Leaflet from CDN -->
<script src="https://unpkg.com/esri-leaflet@^3.0.8/dist/esri-leaflet.js"></script>
<script src="https://unpkg.com/esri-leaflet-vector@4.0.0/dist/esri-leaflet-vector.js"></script>
<script>
    const lat = (Math.random() *0.2) +33.8557
    const long = (Math.random()*0.5) -118.0595
    //34.0557, -118.2595
    var map = new L.Map("cornerMap", {
        center: new L.LatLng(lat, long),
        zoom: 10,
        zoomControl:false,
        attributionControl:false,
        dragging:false,
        minZoom:10,
        maxZoom:10
    });

    const apiKey = "AAPK4bcb23df38f348258205214f35ff7fd3DlCWuDcMvn7vEz4lrQM0U6uXU8RrOpHkWwNWC_4uaK_zh8GDHbfGo4h47UT2I0-U";

    const itemID = "f04f33b9626240f084cb52f0b08758ef";
    L.esri.Vector.vectorBasemapLayer(itemID, {
        apiKey: apiKey
    }).addTo(map);
</script>

{%endblock%}

{% block nav %}
<div id="scroller-anchor"></div> 

<div class="nav"> 
<ul id="navlist">
    <li onclick="location.href='/';" style="cursor: pointer;" class="navItem" id="nav-0">
        <div class="nav-img" id="nav-art-0"><img src="/images/nav-off.png" alt=""/></div>
        <span>home</span>
    </li>
    <li onclick="location.href='/about';" style="cursor: pointer;" class="navItem" id="nav-1">
        <div class="nav-img" id="nav-art-1"><img src="/images/nav-off.png" alt=""/></div>
        <span>about</span>
    </li>
    <li onclick="location.href='/blog';" style="cursor: pointer;" class="navItem" id="nav-2">
        <div class="nav-img" id="nav-art-2"><img src="/images/nav-off.png" alt=""/></div>
        <span>blog</span>
    </li>
</ul>
</div>
  <script>
    const nav = document.getElementById("navlist");
    const navItems = document.getElementsByClassName("navItem");
    console.log(navItems);
    const urls = [
    "8080/$", //TODO change this to live domain extension!
    "/about",
    "/blog*"
    ]

    console.log(window.location);
    const thisUrl = String(window.location);
    for (let i=0;i<navItems.length;i++) {
        if (thisUrl.match(urls[i])) {
            //add img to current active
            const navImg = document.getElementById("nav-art-"+i)
            navImg.innerHTML=`<img src="/images/nav-on.png" alt=""/>`

            document.getElementById("nav-"+i).classList.add("activeNav");
        }
    }
    //let activePage = document.getElementByID("activeNav");



  </script>
{% endblock %}


{% block socials %}{% endblock %}

</div>