<div id="sidebar" style="width:270px;"> 
  <div id="scroller-anchor"></div> 
  <div id="scroller" style="margin-top:10px; width:270px"> 
    <ul class="nav">
        <li onclick="location.href='/';" style="cursor: pointer;">
            <div class="nav-off" id="nav-art"></div>
            <span>home</span>
        </li>
        <li onclick="location.href='/about';" style="cursor: pointer;">
            <div class="nav-off" id="nav-art"></div>
            <span>about</span>
        </li>
        <li onclick="location.href='/blog';" style="cursor: pointer;">
            <div class="nav-off" id="nav-art"></div>
            <span>blog</span>
        </li>
    </ul>
  </div>
</div>
<script type="text/javascript">
    function moveScroller() {
        var $anchor = $("#scroller-anchor");
        var $scroller = $('#scroller');

        var move = function() {
            var st = $(window).scrollTop();
            var ot = $anchor.offset().top;
            if(st > ot) {
                $scroller.css({
                    position: "fixed",
                    top: "0px"
                });
            } else {
                $scroller.css({
                    position: "relative",
                    top: ""
                });
            }
        };
        $(window).scroll(move);
        move();
    } 
  $(function() {
    moveScroller();
  });
</script> 