{%extends "layouts/base.njk"%}

{%block content %}
<div class="content-spacing">
    <a href="/" class="top-name">GWEN OWEN</a>
    
    <div class="root-page">
        {%block header %}
        <header>
            <h1>{{ title }}</h1>
        </header>
        {%endblock%}

        {{ content | safe }}

    </div>
</div>
{%endblock%}